{% block content %}
    <h1 class="text-4xl font-extrabold text-center text-gray-900 mb-4">Welcome to Echo!</h1>
    <p class="text-lg text-gray-700 text-center mb-4">
        Echo is an open-source, lightweight PHP framework designed for simplicity and flexibility.
    </p>
    <p class="text-lg text-gray-700 text-center mb-4">
        Built with Symfony HTTP components and the Twig template engine, it empowers developers to create dynamic web applications effortlessly.
    </p>
     <p class="text-lg text-gray-700 text-center mb-4">
            By default, Echo uses Tailwind CSS for frontend development, enabling rapid and responsive design.
    </p>
    <p class="text-lg text-gray-700 text-center mb-4">
        Whether you're a seasoned developer or just starting out, Echo offers the tools you need to bring your ideas to life.
    </p>
    <p class="text-lg text-gray-700 text-center">
        Join our open-source community and discover the power of Echo today!
    </p>
{% endblock %}
